@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        margin: 1rem;
    }
    .nav-logo{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
        width: 10rem;
        text-align: center;
        text-shadow: 4px 4px 4px rgb(249, 47, 36);
    }
    .nav-shadow{
        box-shadow: 6px 6px 10px black;
    }
    .cat{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 5px 3px 4px rgb(77, 123, 167);
    }
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}